{
  "lol": {
  },
  "postgresql": {
    "password": {
      "postgres": "foobarbaz"
    }
  },
  "apt": {
    "compile_time_update": "true"
  },
  "rbenv": {
    "user_installs": [{
      "user": "vagrant",
      "rubies": ["2.2.3"],
      "global": "2.2.3",
      "gems": {
        "2.2.3": [
          {"name": "bundler"},
          {"name": "rake", "version": "10.4.2", "options": "--force" }
        ]
      }
    }]
  }
}
